<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us</title>

    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        h3,h2 {text-align: center;}
        h2{  font-family: "Sofia", sans-serif;}
    </style>
</head>
<body>

<div th:replace="fragments :: navbar"></div>

<h2> ABOUT US</h2>
<br>
<br>


<div class="container">
    <div class="row">
        <div class="col">
            <img class="aboutUs" src=" https://static.wixstatic.com/media/6fcfcc_11826f9c54d843e4b2d6e56a18901cc8~mv2.jpg/v1/fill/w_555,h_494,al_c,q_80,usm_0.66_1.00_0.01/6fcfcc_11826f9c54d843e4b2d6e56a18901cc8~mv2.webp">
        </div>
        <div class="col">
            <p>

            <h3> <strong> OUR RESTAURANT </strong></h3>  <br>

            Fresh New York Style Pizza For Everyone
            Mom and Pop Pizza has proudly been serving St.
            Mary's County fresh New York style pizza for over ten years and counting.
            All of our ingredients from the sauce, to the dough is handmade by us.
            Every week we have a truck that delivers fresh ingredients to us,
            allowing our customer's taste buds to sizzle with delightment.

            </p>
        </div>
    </div>
</div>
<br> <br>

<h3> Developers team</h3>
<br><br>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/jabiremeka/image/upload/v1629314938/user_zzu2h8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">NICK KAUFMAN</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">About me</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/jabiremeka/image/upload/v1629386949/1620355368576_gikjn3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">JABIR EMEKA</h5>
                    <p class="card-text">I am one of the co-creators of this website. I am a recent high school grad and will be attending college in the fall.
                    I am proficient in Web Development language such as Java, HTML and CSS alongside the springboot framework and thymeleaf template engine </p>
                    <a href="https://www.linkedin.com/in/jabir-emeka/" class="btn btn-primary">Linkedin</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/jabiremeka/image/upload/v1629314938/user_zzu2h8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">DJAWENI KPANDJA</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">About me</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br> <br>

<div th:replace="fragments :: footer"></div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>