<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body>
<div th:replace="fragments :: navbar"></div>

<div class="m-3">
<form th:action="@{/processpizza}" th:object="${pizza}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="hidden" th:field="*{user}">
    <select th:field="*{size}">
        <option th:value="s">Small</option>
        <option th:value="m">Medium</option>
        <option th:value="l">Large</option>
    </select>
    <select th:field="*{sauce}">
        <option th:value="normal">Normal Sauce</option>
        <option th:value="extra">Extra Sauce</option>
        <option th:value="none">No Sauce</option>
    </select>
    <select th:field="*{cheese}">
        <option th:value="normal">Normal Cheese</option>
        <option th:value="extra">Extra Cheese</option>
        <option th:value="none">No Cheese</option>
    </select>
    <select th:field="*{dough}">
        <option th:value="normal">Normal Crust</option>
        <option th:value="thin">Thin Crust</option>
        <option th:value="cheesy">Cheesy Crust</option>
    </select>
    <select name="topping1">
        <option th:each="topping: ${toppings}" th:value="${topping.id}" th:inline="text">[[${topping.name}]]</option>
    </select>
    <select name="topping2">
        <option th:each="topping: ${toppings}" th:value="${topping.id}" th:inline="text">[[${topping.name}]]</option>
    </select>
    <select name="topping3">
        <option th:each="topping: ${toppings}" th:value="${topping.id}" th:inline="text">[[${topping.name}]]</option>
    </select>

    <input class="btn btn-danger" type="submit" value="Order a pizza">
</form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>